<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Android_Checkers.Android_Checkers" android:versionCode="1" android:versionName="1.0">
	<uses-sdk />
	<application android:label="Android_Checkers" android:icon="@drawable/Icon"></application>
</manifest>